.bufferElement{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px
}

.bg-low {
    background-color: #2f54eb;
    color: white;
}

.bg-middle {
    background-color: #722ed1;
    color: white;
}

.bg-high {
    background-color: #f5222d;
    color: white;
}

.bg-critical {
    background-color: #434343;
    color: white;
}